.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

ul li {
    list-style: none;
}